
<app-navbar [title]="title"></app-navbar>

<ion-content [fullscreen]="true">
  <ion-list>
    <ng-container *ngIf="request" >
      <ion-item *ngFor="let item of request.data">
          <ion-label>{{item.name}}</ion-label>
          <ion-button fill="clear" (click)="show(item.id)">
            <ion-icon  slot="icon-only" name="settings-outline"></ion-icon>
          </ion-button>
      </ion-item>
    </ng-container>
  </ion-list>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content  loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
